@import "./variables.css";
@import "./reset.css";

body {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacing-3xl);
    padding-bottom: var(--margin-2xl);
    max-width: var(--max-breakpoint);
    margin: 0 auto;
    padding-inline: var(--spacing-9xl);
}

.header__link__logo {
    height: var(--height-logo);
}

.main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    max-width: var(--max-breakpoint);
    margin: 0 auto;
    z-index: 2;
}

.main__photographer-profile {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__photographer-profile__info {
    display: flex;
    flex-direction: column;
    padding-block: var(--spacing-5xl);
    padding-inline: var(--spacing-4xl);
}

.main__photographer-profile__info__name {
    font-weight: 400;
    font-size: var(--title-font-size-xl);
    line-height: var(--title-line-height-xl);
    color: var(--secondary-color);
}

.main__photographer-profile__info__location {
    font-weight: 400;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
    color: var(--primary-color);
}

.main__photographer-profile__info__tagline {
    font-weight: 400;
    font-size: var(--font-size-md);
    line-height: var(--line-height-sm);
}

.main__photographer-profile__contact-button {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: 700;
    color: var(--white-color);
    padding: var(--spacing-md);
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.main__photographer-profile__photo {
    object-fit: cover;
    border-radius: 100%;
    padding-block: var(--spacing-5xl);
    padding-inline: var(--spacing-4xl);
}

.main__media-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.filter-section {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}

.dropdown {
    position: relative;
}

.select {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xl);
    border: none;
    border-radius: 5px;
    padding: var(--spacing-xl);
    cursor: pointer;
    transition: background-color 0.3s;
}

.select:hover {
    background-color: var(--tertiary-color);
}

.chevron-rotate {
    transform: rotate(180deg);
}

.menu {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    position: absolute;
    min-width: 100%;
    display: none;
    opacity: 0;
}

.open-menu {
    display: block;
    opacity: 1;
}

.list {
    padding: var(--spacing-xl);
    cursor: pointer;
    border-radius: 5px;
}

.list:hover {
    background-color: var(--tertiary-color);
}

.main__media-section__media-list {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: var(--spacing-10xl);
    row-gap: var(--spacing-2xl);
}

.main__media-section__media-list__card__head-card__media {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.main__media-section__media-list__card__body-card {
    display: flex;
    justify-content: space-between;
}

.main__media-section__media-list__card__body-card__title {
    font-weight: 400;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
    color: var(--primary-color);
}

.main__media-section__media-list__card__body-card__likes {
    font-weight: 500;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
    color: var(--primary-color);
    text-wrap: nowrap;
}

.main__likes-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 376px;
    background-color: var(--tertiary-color);
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(-36px);
    padding-block: var(--spacing-xl);
    padding-inline: var(--spacing-3xl);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main__likes-section__like-counter {
    font-weight: 500;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
}

.main__likes-section__like-counter__like {
    padding: var(--spacing-md);
}

.like-button {
    cursor: pointer;
    color: var(--tertiary-color);
    transition: color 0.3s;
}

.liked {
    color: var(--primary-color);
}

.main__likes-section__price {
    font-weight: 500;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
}

.modalBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    z-index: 1;
    display: none;
}

.modalBackground.active {
    display: block;
}

.modalBackground__modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalBackground__modal__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-top: -16px;
}

.modalBackground__modal__header__closeButton {
    cursor: pointer;
    padding-top: var(--spacing-lg);
}

.modalBackground__modal__header__title {
    font-size: var(--title-font-size-xl);
    font-weight: 400;
    line-height: var(--title-line-height-xl);
}

.modalBackground__modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.modalBackground__modal__form__formData {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    width: 100%;
    margin-bottom: var(--spacing-md);
}

.modalBackground__modal__form__formData__label {
    font-size: var(--title-font-size);
}

.modalBackground__modal__form__formData__input {
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
}

.modalBackground__modal__form__formData__textarea {
    height: 177px;
    resize: none;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
}

.modalBackground__modal__form__button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    padding: var(--spacing-xl) var(--spacing-4xl);
    margin-top: var(--spacing-md);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: var(--font-size-lg);
}