@import "./variables.css";
@import "./reset.css";

body {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacing-3xl);
    padding-bottom: var(--margin-2xl);
    max-width: var(--max-breakpoint);
    margin: 0 auto;
    padding-inline: var(--spacing-9xl);
}

.header__link__logo {
    height: var(--height-logo);
}

.main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    max-width: var(--max-breakpoint);
    margin: 0 auto;
}

.main__photographer-profile {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__photographer-profile__info {
    display: flex;
    flex-direction: column;
    padding-block: var(--spacing-5xl);
    padding-inline: var(--spacing-4xl);
}

.main__photographer-profile__info__name {
    font-weight: 400;
    font-size: var(--title-font-size-xl);
    line-height: var(--title-line-height-xl);
    color: var(--secondary-color);
}

.main__photographer-profile__info__location {
    font-weight: 400;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    color: var(--primary-color);
}

.main__photographer-profile__info__tagline {
    font-weight: 400;
    font-size: var(--font-size-md);
    line-height: var(--line-height-sm);
}

.main__photographer-profile__contact-button {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: 700;
    color: var(--white-color);
    padding: var(--spacing-md);
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.main__photographer-profile__photo {
    object-fit: cover;
    border-radius: 100%;
    padding-block: var(--spacing-5xl);
    padding-inline: var(--spacing-4xl);
}

.main__media-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.main__media-section__order-by {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}

.main__media-section__order-by__label__text {
    font-weight: 700;
    line-height: var(--spacing-xl);
}

.main__media-section__order-by__select {
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: var(--font-size-md);
    line-height: var(--spacing-xl);
    padding: var(--spacing-xl);
}

.main__media-section__media-list {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: var(--spacing-10xl);
    row-gap: var(--spacing-2xl);
}

.main__media-section__media-list__card__head-card__media {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.main__media-section__media-list__card__body-card {
    display: flex;
    justify-content: space-between;
}

.main__media-section__media-list__card__body-card__title {
    font-weight: 400;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    color: var(--primary-color);
}

.main__media-section__media-list__card__body-card__likes {
    font-weight: 500;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    color: var(--primary-color);
    text-wrap: nowrap;
}

.main__likes-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 376px;
    background-color: var(--tertiary-color);
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(-36px);
    padding-block: var(--spacing-xl);
    padding-inline: var(--spacing-3xl);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main__likes-section__like-counter {
    font-weight: 500;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.main__likes-section__like-counter__like {
    padding: var(--spacing-md);
}

.main__likes-section__price {
    font-weight: 500;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}