@import url("./photographer.css");
@import url("./reset.css");
@import url("./variables.css");

body {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacing-3xl);
    padding-bottom: var(--margin-2xl);
    max-width: var(--max-breakpoint);
    margin: 0 auto;
    padding-inline: var(--spacing-9xl);
}

.header__link__logo {
    height: var(--height-logo);
}

.header__title {
    font-weight: 400;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--primary-color);
}

.main {
    max-width: var(--max-breakpoint);
    margin: 0 auto;
    padding-inline: var(--spacing-9xl);
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: var(--spacing-8xl);
    justify-items: center;
    justify-content: space-between;
}

.main__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.main__card__head-card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__card__head-card__photo {
    object-fit: cover;
    border-radius: 100%;
}

.main__card__head-card__title {
    font-weight: 400;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--secondary-color);
    text-align: center;
    padding-top: var(--spacing-lg);
    text-wrap: nowrap;
}

.main__card__body-card {
    text-align: center;
}

.main__card__body-card__location {
    font-weight: 400;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    color: var(--primary-color);
}

.main__card__body-card__tagline {
    font-weight: 400;
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-2xs);
}

.main__card__body-card__price {
    font-weight: 400;
    font-size: var(--font-size-3xs);
    line-height: var(--line-height-3xs);
    color: var(--price-color);
}

/* .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}